@using AnthonyTravelPortal.UI.Areas.UserAccount.Controllers
@using AnthonyTravelPortal.Domain.Enums
@using Microsoft.AspNetCore.Mvc
@model List<AnthonyTravelPortal.UI.Areas.UserAccount.ViewModels.UserClientVm>


@foreach (var item in Model)
	{ 
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.User_Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.User_Email)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Phone_Number)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Role_ID)
		</td>
		
		<td>
			@Html.DisplayFor(modelItem => item.Clientlist.Where(x =>x.Value == item.Client_ID).FirstOrDefault().Text)
		</td>
		<td>
			<div class="btn-group btn-group-sm">
				
				
				<button type="button" class="btn btn-primary btn-sm jsEditUser" data-edit-action="@Url.Action(nameof(ManageUserController.GetUser), "ManageUser", new { area = "UserAccount" , UserId = item.User_ID  })">
					<i class="bi-pencil"></i> Edit
				</button>
				<button type="button" class="btn btn-danger btn-sm jsRemoveUser" data-remove-action="@Url.Action(nameof(ManageUserController.DeleteClient), "ManageUser", new {area = "UserAccount" , UserId = item.User_ID })">
					<i class="bi-x"></i> Delete
				</button>
			</div>
		</td>
	</tr>
	
}

